html{
    font-family: Helvetica, sans-serif;
}


h1 {
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 400%;
}

h2 {
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 250%;
}
section {
    position: relative;
    background-color: rgb(223, 222, 188);
    margin-left : auto;
    margin-right: auto;

}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    max-width: 900px;
    width : calc(100%-30px);
    margin-left : auto;
    margin-right: auto;
  }

 .container {
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 10px;
    max-width: 900px;
    width : calc(100%-30px);
    margin-left : auto;
    margin-right: auto;
    margin-top : 30px ; 
    text-align: center;
    grid-gap: 10px;
 
 }
 